<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
</head>
<body>
    <!-- <div>
        {% extends "flash.html" %}
    </div> -->
    <form action="/result" method="POST">
        <p1>
            Converting from <input type="text" maxlength=3 minlength="3" name="conv-from" required/>
        </p1>
        <p2>
            Converting to <input type="text" maxlength=3 minlength="3" name="conv-to" required/>
        </p2>
        <p3>
            Amount: <input type="number" min="0" name="amount" required/>
        </p3>
        <button type="submit">Convert</button>
    </form>
</body>
</html>